<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/styles.css" />
    <title><%= title %></title>
  </head>
  <body>
    <%- include('partials/navbar') %>
    <div class="container">
      <div class="main-content">
        <h1 class="content-header">
          Games <a href="/games/new">Add a Game</a>
        </h1>
        <div class="games-grid">
          <% if(games) { games.forEach((game) =>{ %>
          <div class="game-container">
            <div class="img">
              <img src="<%= game.img_src %>" alt="game image" />
            </div>
            <div class="text">
              <h2><%= game.game %></h2>
              <h4><%= game.release_date %></h4>
              <h1><%= game.price %></h1>
              <p><%= game.description %></p>
              <button>Delete</button>
              <button>View Games</button>
            </div>
          </div>
          <% })} %>
        </div>
      </div>
    </div>
    <%- include('partials/footer') %>
  </body>
</html>
